# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
matplotlib==3.8.0
numpy==1.26.2
pandas==2.1.1
scikit-learn==1.3.2
scipy==1.11.4
#sklearn==0.0.post11
streamlit==1.29.0